<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapperInter.TestMapper">
	<insert id="insertTest" parameterType="com.example.dto.testDTO">
		INSERT INTO MEMBER(
			ID
			,PASSWORD
		)
		VALUES(
			#{id}
			,#{password}
		)
	</insert>
</mapper>